
.advertising__wrapper {
    
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .advertising__title {
    display: none;
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: capitalize;
  }
  .advertising__img-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  @media (min-width: 475px) {
  .advertising__title {
    font-size: var(--size-3xl);
  }
  .advertising__img-container {
    margin-top: 1.5rem;
    grid-gap: 1.5rem;
    display: none;
  }
}

/* sm */
@media (min-width: 640px) {
  /* .advertising__img-container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  } */
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {


  .advertising__title {
    font-size: var(--size-4xl);
  }

}

/* xl */
@media (min-width: 1280px) {
  .advertising__subtitle {
    font-size: var(--size-xl);
  }
  .advertising__title {
    font-size: var(--size-5xl);
  }
  .advertising__img-container {
    margin-top: 2rem;
    grid-gap: 2rem;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */