
  ul li {
    list-style: none;
    display: inline-block;
    padding: 0px;
    position: relative;
  }

  li a {
    color: black;
  }

  li a:hover {
    color: #78a6a8;
  }

  li:hover {
    cursor: pointer;
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;

  }

  ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
  }

  ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3f8183 ;
    transition: all 0.3s ease;
  }
a {

    text-decoration: none;

    &:hover {
        color: #3f8183 ;
    }
 
}

 ul li ul li a { transition: all 0.5s ease; }